{% extends 'shared/base.html' %} 
{% load static %}
{% block content %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'nova_imagem' %}" method="POST" enctype="multipart/form-data"> <!-- esse enctype indica o tipo de dado que o arquivo está lidando -->
                    {% csrf_token %} <!-- Sempre tem que vim depois de "form"-->
                    <div class="row">
                        {% for field in forms.visible_fields %}
                        </div class="col-12 col-lg-12" style="margin-bottom: 10px;"> <!-- Ele cria um espaço no site -->
                            <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;" >{{field.label}}</label> <!-- Usado para associar um text label com o campo fomulário <input>-->
                            {{ field }}
                        <div>
                        {% endfor %}
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success col-12" style="padding: top 5px;" >Criar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
{% endblock %}